<a href="https://colab.research.google.com/github/VictorFlores00/ESTUDO/blob/master/sistemas_distributivos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python lista - 05/09

In [6]:
n = [1, 2, 3, 4, 5]
n.append(7)

[1, 2, 3, 4, 5, 7]

In [10]:
n = [1, 2, 3, 4, 5, 7, "a", "b", "c"]
n.index(7)

5

In [12]:
n = [1, 2, 3, 4, 5, 7, "a", "b", "c"]
n.pop(2) # retirou o 3
print(n)

[1, 2, 4, 5, 7, 'a', 'b', 'c']

# Tuplas

In [14]:
m = "gm", "ford", "fiat", "vw"
m [0]

'gm'

# Dicionários

In [15]:
n = {"port":8, "ing":7.4, "mat":9}
n

{'port': 8, 'ing': 7.4, 'mat': 9}

Criar um dicionário com os times por estado

In [28]:
t = {"MG":"AT", "SP":"COR", "FLA":"RJ"}
#t.items()
#t.values()
#t.keys()
print(t.get("SP"))

COR

In [49]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [33]:
lista = ["maçã", "banana", "limão", "laranja", "fim"]
for x in lista:
  print(x)
  if x == "fim":
    break

maçã
banana
limão
laranja
fim

In [38]:
lista = ["maçã", "banana", "limão", "laranja", "fim"]
for x in lista:
  if x == "fim":
    break
  print(x)

maçã
banana
limão
laranja

In [40]:
lista = ["maçã", "banana", "limão", "laranja", "fim"]
for x in range(0,4):
  if x =="fim":
    break
  print(x)

0
1
2
3

In [61]:
for x in range(1, 8, 2): #início, fim e salto.
  if x == 1: # break
    print(x)
# else:
  # print("Fim")

1

In [70]:
cidades = ["bh", "sp", "rj", "df", "pa", "pr", "mt", "ms", "rn"]

for sul in cidades:
  print("pr_" + sul)

pr_bh
pr_sp
pr_rj
pr_df
pr_pa
pr_pr
pr_mt
pr_ms
pr_rn

In [73]:
q = []
for n in range(11):
  q.append(n ** 2)
q

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
a = 33
b = 34

if a > b:
  print("a > b")
elif b > a:
  print("b > a")
else:
  print("igual")

b > a

In [53]:
a = 33
b = 33

if a > b or b > a:
 print("~")
else:
  print("=")

=

In [41]:
frutas = ["maçã", "banana", "limão", "laranja", "fim"]
adj  = ["vermelha, pequena, saborosa"]

for x in frutas:
  for y in adj:
    print(x,y)

maçã vermelha, pequena, saborosa
banana vermelha, pequena, saborosa
limão vermelha, pequena, saborosa
laranja vermelha, pequena, saborosa
fim vermelha, pequena, saborosa

In [32]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
    print("**")

1
2
3
4
5
**

In [78]:
def _m_function():
  print("Hello")

In [87]:
#def exp(z,n):
# return z ** n

def x(z):
  if (z > 0):
    result = z + x(z -1)
    print(result)
  else:
    result = 0
  return result

print("exemplo")

x(5)

exemplo
1
3
6
10
15

15

In [88]:
import pandas as pd
v = {"Data": ["18/02/2022", "13/08/2022", "23/03/2022"],
     "Valor": [5000, 12000, 10000], 
     "Produto": ["pincel azul", "apagador",  "pincel preto"], 
     "Quantidade": [1000, 1200, 2000]}

t_v = pd.DataFrame(v)
print(t_v)

         Data  Valor       Produto  Quantidade
0  18/02/2022   5000   pincel azul        1000
1  13/08/2022  12000      apagador        1200
2  23/03/2022  10000  pincel preto        2000

In [ ]:
!pip install geopanda